In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame

# **Removing Duplicates**

In [46]:
df_obj=DataFrame({'column1':[1,1,2,2,2,3,3,3],
                  'column2':['a','a','b','b','b','c','c','c'],
                  'column3':['A','A','B','B','B','C','C','C']})
df_obj

   column1 column2 column3
0        1       a       A
1        1       a       A
2        2       b       B
3        2       b       B
4        2       b       B
5        3       c       C
6        3       c       C
7        3       c       C

 duplicated() method returns true if **every** cells of a row is exactly same as the before one

In [47]:
df_obj.duplicated()

0    False
1     True
2    False
3     True
4     True
5    False
6     True
7     True
dtype: bool

In [48]:
df_obj.drop_duplicates()

   column1 column2 column3
0        1       a       A
2        2       b       B
5        3       c       C

In [51]:
df_obj.drop_duplicates(['column2'])           #another method

   column1 column2 column3
0        1       a       A
2        2       b       B
5        3       c       C